pandas
pyarrow
pyspark==4.1.2
itables

sqlalchemy
psycopg2-binary
boto3
clickhouse-connect

#confluent-kafka
#
apache-airflow==3.3.0
apache-airflow-providers-apache-spark==6.3.0
#
#scikit-learn
#joblib
#torch
#
#mlflow
#
#fastapi
#uvicorn
#pydantic
#
#prometheus-client
