pandas
pyarrow
pyspark==4.1.2
itables
sqlalchemy
psycopg2-binary
boto3
clickhouse-connect
apache-airflow==3.3.0
asyncpg
confluent-kafka
#scikit-learn
#joblib
#torch
#mlflow
#fastapi
#uvicorn
#pydantic
#prometheus-client
pytest
pytest-cov
pytest-html
pytest-mock