pandas
pyarrow
pyspark

sqlalchemy
psycopg2-binary
boto3
clickhouse-connect

confluent-kafka

apache-airflow
apache-airflow-providers-apache-spark

scikit-learn
joblib
torch

mlflow

fastapi
uvicorn
pydantic

prometheus-client

pytest
pytest-cov
pytest-html
pytest-mock