services:
  airflow-standalone:
    image: apache/airflow:slim-2.9.3-python3.12
    container_name: airflow-standalone
    hostname: airflow-standalone
    restart: always
    environment:
      AIRFLOW__CORE__EXECUTOR: SequentialExecutor
      AIRFLOW__CORE__SQL_ALCHEMY_CONN: sqlite:////opt/airflow/airflow.db
      AIRFLOW__SMTP__SMTP_HOST: smtp-server
      AIRFLOW__SMTP__SMTP_STARTTLS: False
      AIRFLOW__SMTP__SMTP_SSL: False
      AIRFLOW__SMTP__SMTP_USER: ""
      AIRFLOW__SMTP__SMTP_PASSWORD: ""
      AIRFLOW__SMTP__SMTP_PORT: 1025
      AIRFLOW__SMTP__SMTP_MAIL_FROM: airflow@example.com
    volumes:
      - ./dags:/opt/airflow/dags
      - ./plugins:/opt/airflow/plugins
      - ./resources:/opt/airflow/resources
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db init &&
      airflow users create -u admin -p admin -f Admin -l User -r Admin -e admin@example.com &&
      airflow webserver --port 8080 & 
      airflow scheduler
      "
  localstack:
    container_name: localstack
    hostname: localstack
    image: localstack/localstack
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
  smtp-server:
    image: mailhog/mailhog
    container_name: smtp-server
    hostname: smtp-server
    ports:
      - "1025:1025"
      - "8025:8025"