name: spark_tutorial
services:
  master:
    build:
      context: .
      dockerfile: spark/Dockerfile
    image: spark-4-java21-python3:local
    container_name: master
    hostname: master
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master --host master --port 7077 --webui-port 8080
    ports:
      - "7077:7077"   # master RPC
      - "8080:8080"   # master UI
    volumes:
      - "./resources:/resources"
  worker:
    build:
      context: .
      dockerfile: spark/Dockerfile
    image: spark-4-java21-python3:local
    container_name: worker
    hostname: worker
    depends_on:
      - master
    command: >
      /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://master:7077 --webui-port 8081
    ports:
      - "8081:8081"   # worker UI
    volumes:
      - "./resources:/resources"

  jupyter:
    image: samanalishiri/notebook:latest
    build:
      context: .
      dockerfile: notebook/Dockerfile
    container_name: jupyter
    hostname: jupyter
    user: root
    ports:
      - "8888:8888"
    volumes:
      - "./resources:/resources"
    environment:
      PORT: 8888
